.icons{

    padding: 5% 5% 5% 5%;
    font-size: larger
}

.icons a{
    margin-right:30px ;
}




.fa-square-instagram{
    color: #FF0000;
}
.fa-twitter{
    color: #FF0000;
}

.fa-square-facebook{
    color: #FF0000;
}

.fa-youtube{
    color: #FF0000;
}

.fa-tiktok{
    color: #FF0000;
}